<h1>{{title}}</h1>
<br>
<a href="/users/valid">Valid Users List</a>
<br>
<a href="/users/invalid">Invalid Users List</a>
<p>Select Excel file to migrate:</p>
<form action="/" method="POST" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload File">
</form>