<h1>{{title}}</h1>
<p>Select Excel file to migrate:</p>
<form action="/" method="POST" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload File">
</form>